<div>

    <h1><?=$this->translate('Video')?></h1>

    <pre><?=print_r($video, true)?></pre>

    <?php if (!empty($referer)) : ?>
    <a href="<?=$referer?>" class="btn btn-primary">Back to results</a>
    <?php endif; ?>

</div>
