<div>

    <h1><?=$this->translate('Search')?></h1>

    <div class="row">
        <div class="col-lg-12">

            <?php
            $form->setAttribute('action', $this->url('search'));
            echo $this->form()->openTag($form);
            echo $this->formCollection($form);
            echo $this->form()->closeTag();
            ?>

        </div>
    </div>

    <h2><?=number_format($videos['total'])?> video(s) found</h2>
    <h3><?=number_format($videos['pages'])?> page(s)</h3>

    <?php if (!empty($videos['data'])) : ?>
    <nav>
        <ul class="pager">
            <li class="previous<?=$page <= 1 ? ' disabled' : null?>">
                <a href="<?=$this->url('search', ['page' => $page - 1], ['query' => ['keywords' => $keywords]])?>">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
            <li class="next<?=$page >= $videos['pages'] ? ' disabled' : null?>">
                <a href="<?=$this->url('search', ['page' => $page + 1], ['query' => ['keywords' => $keywords]])?>">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Channel</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($videos['data'] as $video) : ?>
            <tr>
                <td>
                    <a href="<?=$this->url('video', ['id' => $video->getId()])?>">
                        <?=$video->getId()?>
                    </a>
                </td>
                <td><?=$video->getTitle()?></td>
                <td><?=$video->getChannel()?></td>
                <td><?=$video->getOwner()?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

    <nav>
        <ul class="pager">
            <li class="previous<?=$page <= 1 ? ' disabled' : null?>">
                <a href="<?=$this->url('search', ['page' => $page - 1], ['query' => ['keywords' => $keywords]])?>">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
            <li class="next<?=$page >= $videos['pages'] ? ' disabled' : null?>">
                <a href="<?=$this->url('search', ['page' => $page + 1], ['query' => ['keywords' => $keywords]])?>">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <?php else : ?>
    <div class="alert alert-warning">
        <p>No videos found.</p>
    </div>
    <?php endif; ?>

</div>
